@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-family: "GmarketSansMedium";
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.display-box {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
}
.display-box > button img {
  width: 2rem;
  height: 2rem;
}

.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  user-select: none;
}
.card-box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.card-box p {
  font-size: 2rem;
  font-weight: 300;
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 190px;
  height: 254px;
  background-color: var(--contrast);
  border-radius: 30px;
  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #000000;
  text-align: center;
}

.add-box {
  width: 100%;
  height: 25vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.add-box .add-button {
  width: 4rem;
  height: 3rem;
  font-size: 1.4rem;
}
.add-box > button img {
  width: 2rem;
  height: 2rem;
}
.english-word-input {
  width: 15vw;
  height: 5vh;
  font-size: 2rem;
}
.korean-word-input {
  width: 15vw;
  height: 5vh;
  font-size: 2rem;
}

.delete-box {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.delete-box button {
  width: 18rem;
  height: 3rem;
  font-size: 1.4rem;
}

.title-box {
  width: 100%;
  height: 15vh;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}
